@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@font-face {
  font-family: "titleFont";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/font/DarlingCoffee-q23Dd.otf") format("truetype");
}

.titleFont{
  font-family: 'titleFont';
}